body{
    background-color:black ;
}

hr{
    border-style:none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}

p{
  color:  #59ad23;  
}

h1{
  color:  #59ad23;  
}